/bin/
src/com/simplicity/client/cache/definitions/ItemDefinition.java
.idea
.idea/libraries
.idea/libraries/deps.xml
client.iml
SimplicityClientNew.iml
*.png
*.gif
*.class
*.classpath
*.project
/target/
